<%= stylesheet_link_tag    "contact", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<div class="contact-us">
		<h2><%= @contact["addr"] %></h2>
		<ul>
			<li>电话：<%= @contact["tel"] %></li>
			<li>传真：<%= @contact["fax"] %></li>
			<li>企业邮箱：<%= @contact["email"] %></li>
		</ul>		
	</div>
	<ul class="social">
		<li><i class="sina"></i><a href="<%= @contact["weibo_link"] %>" target="_blank"><%= @contact["weibo"] %></a></li>
		<li><i class="weixin"></i><%= @contact["weixin"] %></li>
		<li><i class="tencent"></i><%= @contact["qq"] %></li>
	</ul>
	<figure>
		<img src="<%= @contact["map"] %>" alt="公司位置地图">
	</figure>
</div>