<%= stylesheet_link_tag    "index", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<h2 class="news">NEWS</h2>
	<figure id="figure">
		<% 1.upto 5 do |i| %>
		<% if !@index_pics["img_url"][i.to_s].blank? %>
		<a href="<%= @index_pics["link_url"][i.to_s] %>"><img width="59%" height="100%" src="<%= @index_pics["img_url"][i.to_s] %>" alt="" class="flashpic" style="display:none;background:#000;"></a>
		<% end %>
		<% end %>
		<% 1.upto 4 do |i| %>
		<a href="<%= @index_pics["link_url"][i.to_s] %>"><img width="19%" height="49%" src="<%= @index_pics2["img_url"][i.to_s] %>" alt="" style="background:#000;"></a>
		<% end %>
	</figure>
	<div class="item">
		<h2 class="title hide-text">华美夜色 一周节目</h2>
		<ul>
			<% @night_items.each_with_index do |item, i| %>
			<li>· <a href="/night/<%= i+1 %>" target="_blank"><%= item.title %></a></li>
			<% end %>
			<% (8 - @night_items.length).downto 1 do %>
			<li></li>
			<% end %>
		</ul>
		<img src="/assets/qrcode.jpg" alt="">
	</div>
</div>
<script src="/assets/index.js"></script>