<%= stylesheet_link_tag    "intro", media: "all", "data-turbolinks-track" => true %>
<div class="content">
	<p class="intro"><%= @intro %></p>
	<ul class="case-list">
		<% 1.upto 3 do |i| -%><li><a href="<%= @intro_pics["link"][i.to_s] %>" target="_blank"><img src="<%= @intro_pics["img_url"][i.to_s] %>" alt="<%= @intro_pics["title"][i.to_s] %>"></a></li><% end %>
	</ul>
	<h2>公司动态<sup>Company Everts</sup></h2>
	<ul class="event-list">
		<% @topics.each do |topic| %>
		<li>· <a href="<%= topic.show_url %>"><%= topic.title %></a></li>
		<% end %>
	</ul>
	<ul class="feature">
		<li>			
			<p>公司结合品牌特性，并结合市定位与需求，以各种载体形式进行塑造和推广，实现品牌在市场的影响力。</p>
			<h3 class="w5"><a href="/case_tag/品牌包装">品牌包装</a></h3>
		</li>
		<li>
			<h3><a href="/case_tag/影视制作与发布">影视制作与发布</a></h3>
			<p>凭借拥有一支专业水准的制作团队，除了胜任广告短片制作外，亦可进行电影拍摄及协助拍摄。</p>
		</li>
		<li>			
			<p>代理客户公司广告制作，并结合产品特性制定广告方案，并完成广告制作。后期凭借强大的硬广资源优势为客户公司提供广告投放计划，为产品的发行服务。</p>
			<h3><a href="/case_tag/广告制作与投放">广告制作与投放</a></h3>
		</li>
		<li>
			<h3><a href="/case_tag/杂志出版与印刷">杂志出版与印刷</a></h3>
			<p>公司在期刊杂志方面有着丰富的经验，凭借着旗下杂志的成熟发展，使华美时代成为您信赖的合作伙伴。</p>
		</li>
		<li>			
			<p>我公司旗下拥有最赋创意的策划团队、最优秀的设计团队、最有经验的执行团队及最专业的危机管理协调能力，为企业提供最专业的活动整体策划方案，竭力为客户带来最大的商业价值。</p>
			<h3 class="w7"><a href="/case_tag/公关活动策划">公关活动策划</a></h3>
		</li>
		<li>
			<h3 class="w7"><a href="/case_tag/创意产品制造">创意产品制造</a></h3>
			<p>公司致力于创意产品设计，从产品定位策划、工业设计到平面包装，为客户提供最大、最有利的创意价值，让人们享受使用过程，实现创意梦想。</p>
		</li>
	</ul>
</div>