<%= stylesheet_link_tag    "night", "music", media: "all", "data-turbolinks-track" => true %>
<div class="broadcast clearfix">
	<h2 class="hide-text">夜色</h2>
	<div class="music-play">
		<div id="player">
			<div class="cover"></div>
			<div class="ctrl">
				<div class="tag">
					<strong>Title</strong>
					<span class="artist">Artist</span>
					<span class="album">Album</span>
				</div>
				<div class="control">				
					<span title="上一首" class="rewind icon"></span>
					<span title="播放/暂停" class="playback icon"></span>
					<span title="下一曲" class="fastforward icon"></span>					
				</div>
				<div class="progress">
					<div class="slider">
						<div class="pace"></div>
					</div>
					<div class="timer">0:00</div>
				</div>
			</div>
		</div>
	</div>
	<div class="broad">
		<h3>|| 最新广播主题</h3>
		<ul id="playlist">
		</ul>		
	</div>
	<div class="weixin-sao"><img src="/assets/weixin.png" alt="微信公共帐号"></div>
</div>
<div class="content music">
	<div class="col">
		<h4>|| 华语音乐榜</h4>	
		<ol>
			<% 1.upto 8 do |i| %>
			<li><%= @intro["zh"][i.to_s] %></li>
			<% end %>
		</ol>
	</div>
	<div class="col">
		<h4>|| 外语音乐榜</h4>
		<ol>
			<% 1.upto 8 do |i| %>
			<li><%= @intro["fr"][i.to_s] %></li>
			<% end %>
		</ol>
	</div>
	<div class="col">
		<h4>|| 《华美夜色》简介</h4>
		<p><%= @intro["intro"] %></p>
	</div>
</div>
<div class="person">
	<ul id="personIntro" class="person-intro">
		<% @night_presenters.each_with_index do |p, i| %>
		<li>
			<strong><%= p.name %></strong>
			<% if i % 2 == 0 %>
			<img src="<%= p.cover %>" alt="<%= p.name %>照片">			
			<div>
				<h3><%= p.name %></h3>
				<% if !p.weibo.blank? %>
				<a class="hide-text" href="<%= p.weibo %>" target="_blank">关注微博</a>
				<% end %>
				<p><%= simple_format p.info %></p>
			</div>
			<% else %>		
			<div>
				<h3><%= p.name %></h3>
				<% if !p.weibo.blank? %>
				<a class="hide-text" href="<%= p.weibo %>" target="_blank">关注微博</a>
				<% end %>
				<p><%= simple_format p.info %></p>
			</div>
			<img src="<%= p.cover %>" alt="<%= p.name %>照片">	
			<% end %>
		</li>
		<% end %>
	</ul>
</div>

<script src="/assets/jquery-ui-1.8.17.custom.min.js"></script>
<script src="/assets/night.js"></script>
<script src="/assets/music.js"></script>