<%= javascript_include_tag "kindeditor" %>
<div class="nav">
	<div class="list-opts">
		<div class="nav-links">
			<a href="/admin/night_presenters" class="disabled">主持人</a>
			<a href="/admin/night_presenters/new">添加主持人</a>
		</div>
	</div>
</div>
<div class="main">
<%= form_for [:admin, @night_presenter] do |f| %>
<table class="newtable">
	<thead>
		<tr>
			<th colspan="2"><%= t %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
		<tr>
			<td class="data_label">姓名：</td>
			<td class="data_ipt">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td class="data_label">照片：</td>
			<td>
				<%= f.text_field :cover, :class => "new_ipt" %>
				<span class="ke-button-common ke-button-outer"><input type="button" class="ke-button-common ke-button" name="viewServer" id="viewServer" value="图片空间"></span>
				<span class="ke-button-common ke-button-outer"><input type="button" class="ke-button-common ke-button" name="upload" id="upload" value="本地上传"></span>
			</td>
		</tr>
		<tr>
			<td class="data_label">微博地址：</td>
			<td>
				<%= f.text_field :weibo, :class => "new_ipt" %>
			</td>
		</tr>
		<tr>
			<td class="data_label">个人资料：</td>
			<td>
				<%= f.text_area :info, :style => "width:600px;height:400px;" %>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="data_sbt">
				<input type="submit" name="submit" value="提交" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="blank"></td>
		</tr>
	</tbody>
</table>
<% end %>
</div>

<script type="text/javascript">
//<![CDATA[
$(function(){	
	var editor = new KindEditor.EditorClass();
	editor.fileManagerJson = "/file_manager_json";
	editor.uploadJson = "/upload_asset";
	editor.extraFileUploadParams = {
		'model_type' : 'night_presenter_covers'
	};
	KindEditor.loadStyle(editor.themesPath + 'default/default.css');
	KindEditor.loadScript(editor.langPath + editor.langType + '.js');
	
	$('#viewServer').click(function(){
		editor.loadPlugin('filemanager', function() {
			editor.plugin.filemanagerDialog({
				viewType : 'VIEW',
				dirName : 'night_presenter_covers',
				clickFn : function(url, title) {
					if (editor.dialogs.length > 0) {
						$('#night_presenter_cover').val(url);
						editor.hideDialog();
					}
				}
			});
		});
	});
	
	$('#upload').click(function(){
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				showRemote: false,
				clickFn : function(url, title, width, height, border, align) {
					$('#night_presenter_cover').val(url);
					setTimeout(function() {
						editor.hideDialog().focus();
					}, 0);
				}
			});
		});
	});
		
});
//]]>
</script>
